<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista de Empleados</title>
</head>
<body>
    <div class="container">
        <h2>Lista de Empleados</h2>
        <a class="btn btn-primary mt-4 mb-4" style="margin-left: 20px" th:href="@{'new'}">Nuevo Empleado</a>

        <form method="post" th:action="@{/employee/buscarPorNombre}">
            <input name="searchField" class="form-control mb-3" type="text" placeholder="Search" />
        </form>

        <table class="table table-sm">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Puesto</th>
                <th>Departamento</th>
                <th>Ciudad</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="employee, info : ${listaEmpleados}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${employee.nombreempleado}"></td>
                <td th:text="${employee.apellidoempleado}"></td>
                <td th:text="${employee.department.nombredepartamento}"></td>
                <td th:text="${employee.apellidoempleado}"></td>
                <td><a class="btn btn-primary" th:href="@{'/employee/editar' + '?id=' + ${employee.idemployee}}">Editar</a></td>
                <td><a class="btn btn-danger" th:href="@{'/employee/borrar' + '?id=' + ${employee.idemployee}}">Borrar</a></td>
            </tr>
        </table>
    </div>

</body>
</html>